{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/createdVideo.css')}}">
{% endblock %}
{% block title %}Hello !{% endblock %}

{% block body %}
{% block nav %}
{% include "pages/header/header.html.twig" %}
{% endblock nav %}
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}} ) }}
<div class="block-created-video">
    <div class="container">
        <div class="form-group"> {{ form_row(form.title, {'attr': {'class': 'form-control'}}) }}</div>
        <div class="form-group">{{ form_row(form.createdAt, {'attr': {'class': 'select'}}) }}</div>
        <div class="form-group">{{ form_row(form.published, {'attr': {'class': 'checkbox'}}) }}</div>
        <div class="form-group">{{ form_row(form.url, {'attr': {'class': 'form-control'}}) }}</div>
        <div class="form-group">{{ form_row(form.description, {'attr': {'class': 'form-group shadow-textarea'}}) }}</div>
        <div class="form-group">{{ form_row(form.selected_Category, {'attr': {'class': 'select'}}) }}</div>
        <div class="form-group">{{ form_row(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}</div>
    </div>
</div>
{{ form_end(form) }}
{% endblock %}